body {
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .inner {
    position: relative;
}

.inner-most {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.form-control {
    width: 50px;
}

.btn {
    height: 50px;
    width: 50%;
    background-color: green;
    color: white;
    font-size: large;
    border-radius: 15px;
}