body {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: auto;
    width: 95%;
    
  }

  #top {
    overflow: hidden;
    position: fixed;
    top: 0;
  }
  
  .legend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .legend-txt {
    margin-top: 5vh;
  }
  
  .wkdivlegend {
    display: inline-block;
    height: auto;
    width: auto;
    margin: 5px;
    -webkit-box-shadow: 2px 2px 2px;
            box-shadow: 2px 2px 2px;
  }
  
  span {
    margin: 5px;
  }
  
  .container-weeks {
    margin-top: 6vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(1px, 1fr))[52];
        grid-template-columns: repeat(52, minmax(1px, 1fr));
    grid-auto-rows: minmax(2vw, auto);
    -webkit-column-gap: 4px;
            column-gap: 4px;
    row-gap: 4px;
  }
  
  .wkdiv {
    -webkit-box-shadow: 2px 2px 2px;
            box-shadow: 2px 2px 2px;
  }

.btn {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  margin-bottom: 20px;
}
.btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.btn:active {
	position:relative;
	top:1px;
}


  @media (max-width: 732px) {
    .legend-txt {
        margin-top: 8vh;
      }
  }
  
  @media (max-width: 576px) {
    .container-weeks {
      -webkit-column-gap: 2px;
              column-gap: 2px;
      row-gap: 2px;
      background-color: black;
      border: solid black;
    }
    .wkdiv {
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    .legend {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }

    .legend-txt {
        margin-top: 20vh;
      }
  }